{% extends 'base.html' %}
{% block title %}
  Перечень учебников
{% endblock %}
{% block content %}
  {% include 'includes/form.html' with card_header='Поиск учебника' button='Поиск' link='books:index' link_text='Очистить' %}
  <table class="table table-bordered table-hover table-sm fs-6">
    <tr>
      <th>Код</th><th>Автор</th><th>Название</th><th>Класс</th>
      <th>Издательство</th><th>Язык</th><th>Особенности</th>
    </tr>
    {% for item in page_obj %}
      <tr>
        <td><a href="{% url 'books:detail' item.id %}">{{ item.code }}</a></td>
        <td>{{ item.author }}</td>
        <td>{{ item.title }}</td><td>{{ item.grades }}</td>
        <td>{{ item.publisher }}</td><td>{{ item.language }}</td>
        <td>{{ item.special }}</td>
      </tr>
    {% endfor %}
  </table>
  {% include 'includes/paginator.html' %}
{% endblock %}