{% extends 'base.html' %}
{% block title %}
  Фонд учебников
{% endblock %}
{% block content %}
  {% include 'includes/form.html' with card_header='Добавление учебника' button='Добавить' %}
  <table class="table table-bordered table-hover table-sm fs-6">
    <tr>
      <th>Образовательная система</th><th>Автор</th><th>Название</th><th>Класс</th>
      <th>Количество</th><th>Общее количество</th><th>Действия</th>
    </tr>
    {% for item in funds %}
      <tr>
        <td>{{ item.book.system }}</td>
        <td>{{ item.book.author }}</td>
        <td>{{ item.book.title }}</td><td>{{ item.book.grades }}</td>
        <td>{{ item.fund_count }}</td><td>{{ item.overall_count }}</td>
          <td>
          <a href="{% url 'funds:book_detail' item.pk %}" role="button"
             class="btn btn-outline-primary btn-sm">Открыть
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% include 'includes/select2.html' with id_element='"#id_book"' url='funds:index' field='text' %}
{% endblock %}