{% load static %}
<div class="row justify-content-center">
  <div class="col-md-8 mb-5">

    <div class="card">
      <div class="card-header">
        {{ card_header }}
        <a class="btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseExample"
           role="button" aria-expanded="true" aria-controls="collapseExample">
          Показать форму
        </a>
      </div>
      <div class="collapse" id="collapseExample">
      <div class="card-body">
        {% if card_body %}
          {{ card_body }}
        {% endif %}

        {% if form.errors %}
          {% for field in form %} 
            {% for error in field.errors %}            
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              {{ error|escape }}
            </div>
          {% endfor %}
        {% endif %}
        
        {% if form %}
          <form method="post" 
            {% if action %}
              action={% url action %}
            {% endif %} enctype="multipart/form-data">
            {% csrf_token %}
            {% load user_filters %}
            {% for field in form %}
              <div class="form-group row my-1"
                {% if field.field.required %} 
                  aria-required="true"
                {% else %}
                  aria-required="false"
                {% endif %}
              >
                <label for="{{ field.id_for_label }}">
                  {{ field.label }}
                  {% if field.field.required %}
                    <span class="required text-danger">*</span>
                  {% endif %}
                </label>
                <div>
                  {% if 'Is ' in field.label %}
                    {{ field|addclass:'form-check' }}
                  {% else %}
                    {{ field|addclass:'form-control' }}
                  {% endif %}
                  {% if field.help_text %}
                    <small 
                      id="{{ field.id_for_label }}-help" 
                      class="form-text text-muted"
                    >
                      {{ field.help_text|safe }}
                    </small>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary" name="submit">
                  {{ button }}
              </button>
              {% if link %}
                <a href="{% url link %}" class="btn btn-link">
                  {{ link_text }}</a>
              {% endif %}
            </div>
          </form>
        {% endif %}
      </div> <!-- card body -->
      </div>
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->