{% load static %}
<header>
  <nav class="navbar navbar-expand-sm navbar-dark"
    style="background-color: darkcyan"
  >
    <div class="container">
      <a class="navbar-brand" href="{% url 'funds:index' %}">
        <img src="{% static 'img/logo.png' %}" 
          width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:white">АСУ Учет школьных учебников</a>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarContent" area-controls="navbarContent" 
        area-exppended="false"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      {% with request.resolver_match.view_name as view_name %}
      <div class="collapse navbar-collapse justify-content-end"
        id="navbarContent"
      >
        <ul class="nav navbar-nav nav-pills">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link
                {% if 'books:index' in view_name %}active{% endif %}"
                href="{% url 'books:index' %}"
              >
                Перечень
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link
                {% if 'funds:income_list' in view_name %}active{% endif %}"
                href="{% url 'funds:income_list' %}"
              >
                Поступления
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link
                {% if   'funds:outcome_list' in view_name %}active{% endif %}"
                href="{% url 'funds:outcome_list' %}"
              >
                Списания
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownExchange"
                 role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Обменный фонд
              </a>
              <ul class="dropdown-menu" area-labelleby="navbarDropdownExchange">
                <li>
                  <a class="dropdown-item" href="{% url 'funds:exchange_in' %}">
                    Получение
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'funds:exchange_out' %}">
                    Выдача
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser"
                 role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Пользователь: {{ user }}
              </a>
              <ul class="dropdown-menu" area-labelleby="navbarDropdownUser">
                <li>
                  <a class="dropdown-item" href="#">
                    Изменить пароль
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    Выйти
                  </a>
                </li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link link-light
                {% if view_name  == '' %}active{% endif %}"
                href=""
              >
                Войти
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light
                {% if view_name  == '' %}active{% endif %}"
                href=""
              >
                Регистрация
              </a>
            </li>
          {% endif %}
        </ul>
      </div><!-- navbar -->
      {% endwith %}
    </div><!-- container -->
  </nav>
</header>
